.hero{
    background-color: #f0f4ff;
    text-align: center;
    padding: 60px 20px;
}
.hero-tittle{
    color: #2b3a67;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}
.hero-subtittle{
    color: #555;
    font-size: 20px;
    margin: 20px;
}
.hero-button{
    display: inline-block;
    background-color: #2b8aef;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;

}