*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}
.sticky-header{
  position: sticky;
  top: 0;
  background-color: #0077b6;
  color: white;
  padding: 15px; 
  text-align: center;
  border-bottom: 4px solid #023e8a ;
  z-index: 100;
}

.profile-card{
  width: 300px;
  min-height: 380px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 60px auto;
  position: relative;
  overflow:hidden;
}
.badge{
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: gold;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   font-size: 18px;

}
.profile-img{
   display: block;
   margin: 0 auto 15px auto;
   border-radius: 50%;
   border: 3px solid #0077b6;
   width: 120px;
   height: 120px;
}
.name{
  text-align: center;
  color: #023e8a;
  margin-bottom: 10px;

}
.bio{
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  padding: 0 10px;
  overflow: hidden;
}

.stats{
  text-align: center;
}

.stat{
  display: inline-block;
  width: 80px;
  margin: 5px;
  padding: 10px;
  background-color: #caf0f8;
  border-radius: 5px;
}
.stat h3{
   color: #0077b6;
   margin-bottom: 5px;  
}
.contact-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00b4d8;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.contat-btn :hover{
  background: #0077b6;
}